<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mealtrackerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_carrot"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_carrot_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".activities.AboutActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.GraphActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.FoodEntryActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.SetupActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>